.advantages__image {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

.advantages__img {
  width: 100%;
  height: auto;

  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    grid-column-end: -1;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #eeeeee;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item {
  .advantages__block1 {
    padding-top: 44px;
  }

  @media (min-width: @tablet-width) {
    &--img {
      display: grid;
      grid-template-columns: repeat(2fr, 1fr);
      grid-column-start: 1;
      grid-column-end: -1;

      &:first-child {
        grid-template-columns: 1fr 2fr;
      }
    }
  }
}

.advantages__image--reverse {
  display: flex;
  flex-direction: column-reverse;
  margin-top: -4px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__block {
  padding: 33px 20px 40px;
  background-color: #eeeeee;
  text-align: center;
  text-transform: uppercase;

  &--img {
    color: #ffffff;
    background-color: #81b3d2;
    margin-bottom: -1px;
  }

  @media (min-width: @tablet-width) {
    padding: 52px 50px 51px;

    &--border {
      border: none;
    }
  }
}

.advantages__number {
  display: block;
  margin-bottom: 17px;
}

.advantages__description {
  margin: 0;
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 16px;
  color: #ffffff;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.advantages__title2 {
  color: #000000;
}

.advantages__offer {
  margin-top: -6px;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

.advantages_photo1 {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-column-start: 2;
    grid-column-end: -1;
  }
}

.advantages_photo2 {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.advantages__block--border {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 284px;
    height: 1px;
    background-color: #d6d6d6;
    bottom: 0;
    left: 18px;
  }

  @media (min-width: @tablet-width) {
    position: unset;
  }
}

.advantages__item--description {
  padding: 0;
}

.advantages__block--border1 {
  padding-top: 2px;
}
