.advantages {
    padding-top: 32px;
    padding-right: 12px;
    padding-bottom: 32px;
    padding-left: 12px;
  }

  .advantages__item {
    margin: 0;
    padding-bottom: 35px;
    .font-title();
  }

  .advantages-description {
    margin: 0;
  }

  .advantages__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .advantages__item-content {
    padding-top: 37px;
    padding-bottom: 37px;
  }

  .advantages__item-content--color {
    background-color: #81B3D2;
    color: #ffffff;
  }

  .advantages-title {
    margin: 0;
    padding-bottom: 11px;
    .font-title();
  }

  .advantages-title--color {
    color: #ffffff;
  }

  .sedona-plus-title {
    margin: 0;
    padding-bottom: 17px;
  }

  .sedona-plus-description {
    margin: 0;
  }

  .advantures-img {
    min-height: 260px;
    background-color: #81B3D2;
  }

  .bridge-img {
    background-image: url('../img/reason-1-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
