.copyright {
  text-align: center;

  @media (min-width: @tablet-width) {
    text-align: right;
  }
}

.copyright__img {
  background-image: url("../img/htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.copyright__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  text-decoration: none;
}

