.footer-hashtag {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  width: 166px; //156
  display: flex;
  justify-content: space-between;
}

.footer-hashtag__link {
  display: block;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
}

.footer-social-vk {
  list-style-type: none;
  background-image: url("../img/vk.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social-telegram {
  list-style-type: none;
  background-image: url("../img/telegram.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social-youtube {
  list-style-type: none;
  background-image: url("../img/youtube.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.copyright-img {
  background-image: url("../img/htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: center;
}
