.form-container {
  background: #ffffff;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  min-width: 320px;
  text-align: -webkit-auto;
}

.form__name {
  text-align: center;
  padding: 18px 0 0;

  @media (min-width: @tablet-width) {
    padding: 64px 0 104px;
  }

  @media (min-width: @desktop-width) {
    padding: 114px 0 69px;
  }
}

.form__name--header {
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 22px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 30px;
  }
}

.form__name--description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  padding-left: 7%;
  padding-right: 7%;
  margin-top: -26px;
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    padding: 15px 0;
  }
}
