body {
  margin: 0;
  padding: 0;
  height: auto;
  .font-text();
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper-mobile {
  padding-left: 18px;
  padding-right: 18px;
  text-align: center;
}

.wrapper {
  width: @mobile-width;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}
