.interest {
  text-align: center;
  text-transform: uppercase;
  padding: 39px 20px 49px;
  background-color: #ffffff;
}

.interest-button {
  padding: 16px 0 16px 0;
  width: 100%;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    width: 458px;
  }
}


.interest-title {
  margin: 0;
  font-family: @font-family, sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 20px;
}

.interest-description {
  margin: 0;
  margin-bottom: 32px;
}
