.sedona-plus {
  margin: 0;
  padding: 0;
  padding-top: 23px;
  padding-bottom: 46px;
  display: grid;
  row-gap: 25px;
  list-style: none;
}

.sedona-plus-item {
  padding-top: 8px;
  padding-right: 2px;
  padding-left: 47px;
}

.sedona-plus-title {
  margin: 0;
  padding-bottom: 16px;
  .font-title();
}

.sedona-plus-description {
  margin: 0;
}
